body {
	background-color: rgb(18, 18, 18);
	color: rgb(255, 255, 255);
}

.content {
	@apply min-h-screen w-full h-full;
	@apply flex justify-center;
}

.card {
}

.btn {
	background-color: rgb(61, 61, 61);
}

.primary-text {
	color: rgb(255, 255, 255);
}

.secondary-text {
	color: rgb(170, 170, 170);
}
